@import "../../../../variables.module.scss";

.cutleryContainer {
    @include ingredientContainer;

    .checkboxContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        max-width: 350px;
    }
}