$creator-width: 630px;

$font-primary: 'Instrument Serif', serif;
$font-secondary: 'Oxygen Mono', monospace;

$carousel-item-width: 230px;

@mixin flexCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ingredientContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}