@import "../../../../variables.module.scss";

.cheeseInnerContainer {
  @include ingredientContainer;
}

.cheeseContainer {
  width: 100%;
}

.labelMock {
  width: 90px;
}

.switchMock {
    width: 28px;
  }