@import "../../../../variables.module.scss";

// .cheeseInnerContainer {
//   @include ingredientContainer;
// }

// .cheeseContainer {
//   width: 100%;
// }

// .labelMock {
//   width: 90px;
// }

// .switchMock {
//   width: 28px;
// }

.newCheeseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.labelAndSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 120px;
}

.dropdowns {
  width: 340px;
  margin: 10px 0;
  .buttonAndDropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
  }
}
