@import "../../../../variables.module.scss";

.dressingContainer {
  @include flexRowSpace;
  align-items: flex-start;
  width: 100%;
}

.labelAndSwitch {
  @include flexRowSpace;
  align-items: center;
  height: 76px;
  width: 120px;
  
}

.carousels {
  width: 340px;
  margin: 10px 0 10px 0;

  .buttonAndCarousel {
    @include flexRowSpace;
    align-items: center;
    height: 56px;
  }
}
