@import "../../../variables.module.scss";

.creatorContainer {
    margin: 0 auto;
    width: 1440px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}