@import "../../../variables.module.scss";

.creatorContainer {
    margin: 0 auto;
    width: 1440px;
    position: relative;
    top: -1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}