@import "../../../variables.module.scss";

.appButton {
    background: none;
    border: solid 0.5px;
    border-color: rgba(0, 0, 0, 0);
    font-family: $font-secondary;
    text-transform: uppercase;
    width: 77px;
    height: 44px;
    position: relative;
    z-index: 2;
    transition: border-color .7s;
}

.appButton:hover {
    border-color: rgba(0, 0, 0, 1);
}