@import "../../../variables.module.scss";

$animationTime: 4s;

.container{
    width: 1091px;
    height: 1091px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: -33px;
    opacity: 1;
    transition: top $animationTime, left $animationTime, width $animationTime, height $animationTime, opacity $animationTime;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);

    .circle {
        border: 0.5px solid #000000;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @include flexCentered;
        overflow: hidden;
        transition: border-color $animationTime;
    }
}

.left {
    left: -686px;
}

.middleLeft {
    left: -136px;
}

.center {
    left: 174px;
}

.middleRight {
    left: 485px;
}

.right {
    left: 1037px;
}

.moveLeft {
    left: -1091px;
    opacity: 0;
}

.moveMiddleLeft {
    left: -1091px;
    opacity: 0;
}

.moveCenter {
    width: 1865px;
    height: 1865px;
    top: -420px;
    left: -213px;
    opacity: 0;
}

.moveMiddleRight {
    left: 1440px;
    opacity: 0;
}

.moveRight {
    left: 1440px;
    opacity: 0;
}